<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>Elastatus Admin</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style type="text/css">
          body {
           padding-top: 60px;
           padding-bottom: 40px;
        }
        </style>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/DT_bootstrap.css') }}">
        <script type="text/javascript" charset="utf-8" language="javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>

        <script type="text/javascript" charset="utf-8" language="javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" charset="utf-8" language="javascript" src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
        <script type="text/javascript" charset="utf-8" language="javascript" src="{{ url_for('static', filename='js/DT_bootstrap.js') }}"></script>

    </head>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url_for('elastatus.index') }}">Elastatus</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ url_for('.index') }}"><i class="icon-wrench icon-white"></i> Admin</a></li>
              <li><a href="{{ url_for('elastatus.index') }}">Home <i class="icon-arrow-left icon-white"></i></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}

  </body>
</html>
