{% extends "layout.html" %}
{% block content %}
<div class="container-fluid" style="margin-top: 10px">
    <h2><img src="{{ url_for('static', filename='img/aws/sg.png') }}"> Amazon Security Group Audit Report</h2>
    <b>The tables below list security groups which have allow rules for IP addresses not included in the IP Whitelist located in the Admin section. These IP address should be added to the whitelist with a description if valid or removed through the Amazon console in the relevant account.</b>
    {% for group in report %}
        <h3>{{ group }}</h3>
        <table cellpadding="1" cellspacing="0" border="0" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width="33%">Allow</th>
                <th width="33%">From Port</th>
                <th width="33%">To Port</th>
            </tr>
        </thead>
        <tbody>
            {% for rule in report[group] %}
            <tr>
                <td>{{ rule[0] }}</td>
                <td>{{ rule[1] }}</td>
                <td>{{ rule[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endfor %}      
    </div>
{% endblock %}
